force-app/main/default/flows/Flow_ND_Protocolaire.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Update_NB_DONS_ND</name>
        <label>Update NB DONS ND</label>
        <locationX>1228</locationX>
        <locationY>355</locationY>
        <assignmentItems>
            <assignToReference>currNDProtocolaire.Count_Don__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nbND</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ND</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Update_Don_Or_Create_ND_Before</name>
        <label>Update Don Or Create ND Before</label>
        <locationX>920</locationX>
        <locationY>355</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Don_with_Existing_ND</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currNDProtocolaire</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NB_DONS_ND</targetReference>
            </connector>
            <label>Update Don with Existing ND</label>
        </rules>
        <rules>
            <name>Create_ND_Before</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currNDProtocolaire.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GETContactDirection</targetReference>
            </connector>
            <label>Create ND Before</label>
        </rules>
        <rules>
            <name>Update_NBnd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currNDProtocolaire</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Update NB ND</label>
        </rules>
    </decisions>
    <formulas>
        <name>nbND</name>
        <dataType>Number</dataType>
        <expression>{!currNDProtocolaire.Count_Don__c} +1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Flow ND Protocolaire {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow ND Protocolaire</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_ND_Protocolaire</name>
        <label>Create ND Protocolaire</label>
        <locationX>205</locationX>
        <locationY>372</locationY>
        <assignRecordIdToReference>NDProtocolaire.Id</assignRecordIdToReference>
        <connector>
            <targetReference>GetNDProtocolaire</targetReference>
        </connector>
        <inputAssignments>
            <field>Count_Don__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_Note_de_D_pense__c</field>
            <value>
                <stringValue>Protocolaire</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>contactDD__c</field>
            <value>
                <elementReference>ContactDirection.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ND__c</object>
    </recordCreates>
    <recordLookups>
        <name>GETContactDirection</name>
        <label>GETContactDirection</label>
        <locationX>483</locationX>
        <locationY>423</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_ND_Protocolaire</targetReference>
        </connector>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LATOURNERIE</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ContactDirection</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetNDProtocolaire</name>
        <label>GetNDProtocolaire</label>
        <locationX>528</locationX>
        <locationY>138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Don_Or_Create_ND_Before</targetReference>
        </connector>
        <filters>
            <field>Count_Don__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <filters>
            <field>Type_Note_de_D_pense__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Protocolaire</stringValue>
            </value>
        </filters>
        <filters>
            <field>Valid_e__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ND__c</object>
        <outputReference>currNDProtocolaire</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Valid_e__c</queriedFields>
        <queriedFields>Count_Don__c</queriedFields>
        <queriedFields>Type_Note_de_D_pense__c</queriedFields>
        <queriedFields>ContactDFC__c</queriedFields>
        <queriedFields>Date_Signature__c</queriedFields>
        <queriedFields>Date_envoi_ND__c</queriedFields>
        <queriedFields>Statut_ND__c</queriedFields>
        <queriedFields>Sign_e_par_la_Direction__c</queriedFields>
        <queriedFields>ContactD__c</queriedFields>
        <queriedFields>contactDD__c</queriedFields>
        <queriedFields>Statut_Validation_Direction_R_seau_ND__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_ND</name>
        <label>Update ND</label>
        <locationX>1174</locationX>
        <locationY>608</locationY>
        <connector>
            <targetReference>UpdateNDProtocolaire</targetReference>
        </connector>
        <inputReference>currNDProtocolaire</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateNDProtocolaire</name>
        <label>UpdateDON_NDP</label>
        <locationX>797</locationX>
        <locationY>608</locationY>
        <filters>
            <field>D_cisiondirection__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accord</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Note_de_D_pense__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type_Don__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Protocolaire</stringValue>
            </value>
        </filters>
        <filters>
            <field>Validation_Note_de_D_pense__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Oui</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Note_de_D_pense__c</field>
            <value>
                <elementReference>currNDProtocolaire.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Donprotocolairesiege__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>92</locationY>
        <connector>
            <targetReference>GetNDProtocolaire</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactDirection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactDirectionSacem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>currNDProtocolaire</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ND__c</objectType>
    </variables>
    <variables>
        <name>NDProtocolaire</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ND__c</objectType>
    </variables>
</Flow>
