force-app/main/default/flows/ND_Appr_ciation_du_Si_ge.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Update_NB_DONS_ND</name>
        <label>Update NB DONS ND</label>
        <locationX>1228</locationX>
        <locationY>355</locationY>
        <assignmentItems>
            <assignToReference>currNDSiege.Count_Don__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nbND</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ND</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Update_Don_Or_Create_ND_Before</name>
        <label>Update Don Or Create ND Before</label>
        <locationX>919</locationX>
        <locationY>354</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Don_with_Existing_ND</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currNDSiege</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NB_DONS_ND</targetReference>
            </connector>
            <label>Update Don with Existing ND</label>
        </rules>
        <rules>
            <name>Create_ND_Before</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currNDSiege</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GETContactDirection</targetReference>
            </connector>
            <label>Create ND Before</label>
        </rules>
        <rules>
            <name>Update_NBnd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currNDSiege</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Update NB ND</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_ND_Contact_Directeur</name>
        <label>Update ND Contact Directeur</label>
        <locationX>502</locationX>
        <locationY>597</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_ND_ContactDirecteur</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nbND</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContactDirecteur</targetReference>
            </connector>
            <label>Update ND Contact Directeur</label>
        </rules>
    </decisions>
    <formulas>
        <name>nbND</name>
        <dataType>Number</dataType>
        <expression>{!currNDSiege.Count_Don__c} +1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>ND Appréciation du Siège {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ND Appréciation du Siège</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_ND_Siege</name>
        <label>Create ND Siege</label>
        <locationX>205</locationX>
        <locationY>372</locationY>
        <assignRecordIdToReference>NDSiege.Id</assignRecordIdToReference>
        <connector>
            <targetReference>GetNDSi</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Directeur_R_seau__c</field>
            <value>
                <elementReference>contactDirecteur.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Count_Don__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_Note_de_D_pense__c</field>
            <value>
                <stringValue>Appréciation du Siège</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>contactDD__c</field>
            <value>
                <elementReference>ContactDirection.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ND__c</object>
    </recordCreates>
    <recordLookups>
        <name>GetContactDirecteur</name>
        <label>GetContactDirecteur</label>
        <locationX>267</locationX>
        <locationY>605</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_ND_Siege</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Vasseur</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>contactDirecteur</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GETContactDirection</name>
        <label>GETContactDirection</label>
        <locationX>584</locationX>
        <locationY>361</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_ND_Contact_Directeur</targetReference>
        </connector>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LATOURNERIE</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ContactDirection</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetNDSi</name>
        <label>GetNDSiege</label>
        <locationX>528</locationX>
        <locationY>138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Don_Or_Create_ND_Before</targetReference>
        </connector>
        <filters>
            <field>Count_Don__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <filters>
            <field>Type_Note_de_D_pense__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Appréciation du Siège</stringValue>
            </value>
        </filters>
        <filters>
            <field>Valid_e__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ND__c</object>
        <outputReference>currNDSiege</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Valid_e__c</queriedFields>
        <queriedFields>Count_Don__c</queriedFields>
        <queriedFields>Type_Note_de_D_pense__c</queriedFields>
        <queriedFields>ContactDFC__c</queriedFields>
        <queriedFields>Date_Signature__c</queriedFields>
        <queriedFields>Date_envoi_ND__c</queriedFields>
        <queriedFields>Statut_ND__c</queriedFields>
        <queriedFields>Sign_e_par_la_Direction__c</queriedFields>
        <queriedFields>contactDD__c</queriedFields>
        <queriedFields>ContactD__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_ND</name>
        <label>Update ND</label>
        <locationX>1175</locationX>
        <locationY>608</locationY>
        <connector>
            <targetReference>UpdateNDSIEGE</targetReference>
        </connector>
        <inputReference>currNDSiege</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateNDSIEGE</name>
        <label>UpdateDON_NDS</label>
        <locationX>797</locationX>
        <locationY>608</locationY>
        <filters>
            <field>D_cisiondirection__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accord</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Note_de_D_pense__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type_Don__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Appréciation du siège</stringValue>
            </value>
        </filters>
        <filters>
            <field>Validation_Note_de_D_pense__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Oui</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Note_de_D_pense__c</field>
            <value>
                <elementReference>currNDSiege.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Donprotocolairesiege__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>92</locationY>
        <connector>
            <targetReference>GetNDSi</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactDirecteur</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactDirection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactDirectionSacem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>currNDProtocolaire</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ND__c</objectType>
    </variables>
    <variables>
        <name>currNDSiege</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ND__c</objectType>
    </variables>
    <variables>
        <name>NDProtocolaire</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ND__c</objectType>
    </variables>
    <variables>
        <name>NDSiege</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ND__c</objectType>
    </variables>
</Flow>
